<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:label="SolgoInsight"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.metaguru.smartxdrip.DEBUG_OPEN_ROUTE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:foregroundServiceType="dataSync"
            android:exported="false"
            tools:replace="android:exported,android:foregroundServiceType" />
        <service
            android:name=".floating.FloatingSurfaceOverlayService"
            android:exported="false" />
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name=".glance.GlanceCompactWidgetProvider"
            android:exported="true"
            android:label="Glance Compact">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_compact" />
        </receiver>
        <receiver
            android:name=".glance.GlanceTrendWidgetProvider"
            android:exported="true"
            android:label="Glance Trend">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_trend" />
        </receiver>
        <receiver
            android:name=".glance.GlanceDashboardWidgetProvider"
            android:exported="true"
            android:label="Glance Dashboard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_dashboard" />
        </receiver>
        <receiver
            android:name=".glance.GlanceDualUnitWidgetProvider"
            android:exported="true"
            android:label="Glance Dual">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_dual_unit" />
        </receiver>
        <receiver
            android:name=".glance.GlanceWidgetTapActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".statusmonitor.StatusMonitorCompactWidgetProvider"
            android:exported="true"
            android:label="Monitor Compact">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/status_monitor_widget_compact" />
        </receiver>
        <receiver
            android:name=".statusmonitor.StatusMonitorFlowWidgetProvider"
            android:exported="true"
            android:label="Monitor Flow">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/status_monitor_widget_flow" />
        </receiver>
        <receiver
            android:name=".statusmonitor.StatusMonitorIssueWidgetProvider"
            android:exported="true"
            android:label="Monitor Issue">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/status_monitor_widget_issue" />
        </receiver>
        <receiver
            android:name=".statusmonitor.StatusMonitorDetailedWidgetProvider"
            android:exported="true"
            android:label="Monitor Detail">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/status_monitor_widget_detailed" />
        </receiver>
        <receiver
            android:name=".statusmonitor.juggluco.JugglucoBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.metaguru.smartxdrip.statusmonitor.CLEAR_JUGGLUCO_PROBE" />
                <action android:name="glucodata.Minute" />
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
                <action android:name="com.librelink.app.ThirdPartyIntegration.GLUCOSE_READING" />
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".statusmonitor.xdrip.XdripBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.metaguru.smartxdrip.statusmonitor.CLEAR_XDRIP_PROBE" />
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".statusmonitor.aaps.AapsEvidenceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.metaguru.smartxdrip.statusmonitor.CLEAR_AAPS_PROBE" />
                <action android:name="com.metaguru.probe.AAPS_CONTEXT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".statusmonitor.watch.WatchEvidenceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.metaguru.smartxdrip.statusmonitor.CLEAR_WATCH_PROBE" />
                <action android:name="com.metaguru.probe.WATCHDRIP_DISPLAY" />
            </intent-filter>
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <package android:name="tk.glucodata" />
        <package android:name="tk.glucodata.debug" />
        <package android:name="tk.glucodata.dub" />
        <package android:name="com.eveningoutpost.dexdrip" />
        <package android:name="jamorham.xdrip.plus" />
        <package android:name="jamorham.xdrip.plus.variant1" />
        <package android:name="jamorham.xdrip.plus.variant2" />
        <package android:name="jamorham.xdrip.plus.variant3" />
        <package android:name="jamorham.xdrip.plus.variant4" />
        <package android:name="info.nightscout.androidaps" />
        <package android:name="info.nightscout.aapspumpcontrol" />
        <package android:name="info.nightscout.aapsclient" />
        <package android:name="info.nightscout.aapsclient2" />
        <package android:name="app.aaps" />
        <package android:name="com.thatguysservice.huami_xdrip" />
        <package android:name="com.thatguysservice.watchdrip" />
        <package android:name="com.thatguysservice.watchdripplus" />
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
